Cybersecurity.local {
    encode zstd gzip
    @ws {
        path /vnc-proxy/ws/*
    }
    reverse_proxy @ws 127.0.0.1:8000 {
        transport http {
            versions h2c 1.1
        }
    }
    reverse_proxy 127.0.0.1:8000
    # Use Caddy's internal CA for issuing TLS certs (local PKI)
    tls internal
}
